@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>.NET Configuration - Environments</h2>
    <p><a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments">Microsoft Docs - Environments</a></p>
</div>
<hr />

<div class="text-center">
    <h4>Examples</h4>
    <div>
        <a asp-area="" asp-controller="Examples" asp-action="AccessInController">Access in Controller</a><br />
        <a asp-area="" asp-controller="Examples" asp-action="TagHelper">Tag Helper</a><br />
    </div>
</div>
<hr />

<div class="text-center">
    <h4>Lab Exercises</h4>
    <div>
        <a asp-area="" asp-controller="LabExercises" asp-action="AccessInController">Access in Controller</a><br />
        <a asp-area="" asp-controller="LabExercises" asp-action="TagHelper">Tag Helper</a><br />
    </div>
</div>