@model LabExercisesViewModel
@{
    ViewData["Title"] = "Dependency Injection Lab";
}
<h3>@ViewData["Title"]</h3>

<div>
    <p>@Model.Message</p>
</div>

<br />
<hr />
<div>
    <b>INSTRUCTIONS:</b><br />
    <p>Use dependency injection in the controller to populate the model with a unique message based on the environment.<br />
    The message should be displayed above.</p>
</div>