@{

    ViewData["Title"] = "Tag Helper Lab";
}
<h3>@ViewData["Title"]</h3>



<!-- insert tag helper code here -->



<br />
<hr />
<div>
    <b>INSTRUCTIONS:</b><br />
    <p>Use environment tag helpers to display a unique message based on the environment.<br />
    The message should be displayed above.</p>
</div>